---
slug: 'blog/admin/settings'
format: html
layout_name: 'admin-blog-layout'
authorization_policies:
  - 'instance_blog_edition'
---
{%- query_graph 'get_blog_instance', result_name: bi, scope: 'blog' -%}
{% assign blog = bi.customizations.results.first %}

{%- include 'blog/admin/navigation' -%}

<section class="o-section">
  <div class="o-container">
    {% assign object_id = blog.id | default: 'new' %}

    {% render_form blog_settings,
      object_class: Customization,
      object_id: @object_id,
      parent_object_class: CustomModelType,
      parent_object_id: blog_instance,
      scope: 'blog'
    %}
  </div>
</section>
